<!-- Email body instructing users to correct their Github email settings -->
<p>Hello QLID,</p>
<p>We have found that your Github account needs updating in order to comply with NCR's Github Standards.</p>
<p>Please go to <a href=https://github.com> Github</a> and update the following:</p>
<p><strong>Email Visibility</strong>: Users should have their first and last name listed in their profile.</p>
<p>&emsp; To update, go to Settings &gt; Emails &gt; Uncheck "Keep my email addresses private"</p>
<p>&emsp; Then Profile > Public Email > Select your email > Update Profile</p>
<p><br /></p>
<p>Thank you,</p>
<p>NCR Github Standards Team</p>
<p>&nbsp;</p>