<!-- Email body instructing users to correct their Github name -->
<p>Hello QLID,</p>
<p>We have found that your Github account needs updating in order to comply with NCR's Github Standards. </p>
<p>Please go to <a href=https://github.com> Github</a> and update the following:</p>
<p><strong>Name</strong>: Users should have their first and last name listed in their profile.</p>
<p>&emsp; To update, go to Profile &gt; click "Edit Profile" &gt; Fill in with your first and last name</p>
<p><br /></p>
<p>Thank you,</p>
<p>NCR Github Standards Team</p>
<p>&nbsp;</p>