<!-- TEMPLATE EMAIL. DO NOT USE IN PRODUCTION. -->
<p>Hello QLID,</p>
<p>We have found that your [INSERT PLATFORM HERE] account needs updating in order to comply with NCR's [INSERT PLATFORM HERE] Standards. </p>
<p>Please go to <a href=[ INSERT LINK TO SITE HERE ]> [INSERT PLATFORM HERE]</a> and update the following:</p>

<!-- What needs to be updated -->
<p><strong>[Problem]</strong>: What the setting is supposed to look like.</p>
<p>&emsp; To update, go to [further instructions on how to fix the issue]</p>

<p><br /></p>
<p>Thank you,</p>
<p>NCR [INSERT PLATFORM HERE] Standards Team</p>
<p>&nbsp;</p>